# Global code owners - RUM Mobile Team

* @dd/rum-mobile @dd/rum-mobile-ios

## Docs

/docs/ @dd/documentation @dd/rum-mobile 
*README.md @dd/documentation @dd/rum-mobile
*MIGRATION.md @dd/documentation

## Feature Flags

/TowerSignalFlags/ @dd/rum-mobile @dd/rum-mobile-ios @dd/feature-flagging-and-experimentation-sdk
