<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>TowerSignalLicenseKey</key>
	<string>lic_apm_3c890780dd3a4acd97fab9ce6eb5b917</string>
	<key>TowerSignalEnvironment</key>
	<string>demo</string>
	<key>TowerSignalServerURL</key>
	<string>http://127.0.0.1:8088</string>
	<key>TowerSignalAppName</key>
	<string>FlipShop</string>
	<key>TowerSignalServiceName</key>
	<string>FlipShop</string>
	<key>TowerSignalApplicationID</key>
	<string>FlipShop</string>
</dict>
</plist>
