<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AtatusLicenseKey</key>
	<string>lic_apm_3c890780dd3a4acd97fab9ce6eb5b917</string>
	<key>AtatusEnvironment</key>
	<string>demo</string>
	<key>AtatusServerURL</key>
	<string>http://127.0.0.1:8088</string>
	<key>AtatusAppName</key>
	<string>FlipShop</string>
	<key>AtatusServiceName</key>
	<string>FlipShop</string>
	<key>AtatusApplicationID</key>
	<string>FlipShop</string>
</dict>
</plist>
