// Add common settings from TowerSignal.xcconfig
#include "../xcconfigs/TowerSignal.xcconfig"

// Both 'ddSDKTesting' and 'TowerSignalCrashReporting' link PLCR dependency statically, resulting with these runtime warnings:
//
//       """
//       objc[50310]: Class PLCrashReportThreadInfo is implemented in both
//       /Users/.../TowerSignalCrashReporting.framework/TowerSignalCrashReporting (0x10b727208)
//       and
//       /Users/.../ddSDKTesting.framework/ddSDKTesting (0x10b5ee928).
//       One of the two will be used. Which one is undefined.
//       """
//
//       Because some mocks in 'TowerSignalCrashReportingTests' use PLCR type's subclassing, their runtime cast with 'as? <PLCR_TYPE>' could fail depending in which library is found first
// We force 'TowerSignalCrashReporting' to be linked before linking 'ddSDKTesting' so PLCR symbols are found in that library.
OTHER_LDFLAGS= $(inherited) -framework TowerSignalCrashReporting

// Add ddSDKTesting instrumentation (if available in current environment)
 #include? "../xcconfigs/ddSDKTesting.local.xcconfig"


